main-blx.bib
main.aux
main.bbl
main.blg
main.log
main.out
main.run.xml
main.toc
example.bib~
Suthesis-example.aux
Suthesis-example.lof
Suthesis-example.log
Suthesis-example.lot
Suthesis-example.toc
Suthesis-example.pdf
main2-blx.bib
main2.aux
main2.bbl
main2.blg
main2.lof
main2.log
main2.lot
main2.run.xml
main2.tex~
main2.toc
scratch.txt~
signature_page.aux
signature_page.log
signature_page.tex~
suthesis-example-signature.aux
suthesis-example-signature.log
suthesis-example-signature.pdf
main-mpgraph.mp
main.synctex.gz
main.tmp
main.tui
main.tuo
