info_paper.aux
info_paper.log
info_paper.tex~
texput.log
notes_ortho.aux
notes_ortho.log
notes_ortho.tex~
notes_ortho2.aux
notes_ortho2.log
notes_ortho2.tex~
multiclass_draft.aux
multiclass_draft.log
nips_extrapolation.aux
nips_extrapolation.log
nips_extrapolation.out
nips_extrapolation.tex~
nips_info_theory.aux
nips_info_theory.log
nips_info_theory.out
notes_info2.aux
notes_info2.log
notes_info2.tex~
notes_info2_var.aux
notes_info2_var.log
notes_info2_var.tex~
supp_info_paper.aux
supp_info_paper.log
supp_info_paper.tex~
info_lb.aux
info_lb.log
info_lb.tex~
aba_gen_info.aux
aba_gen_info.log
aba_gen_info.tex~
