info_paper.aux
info_paper.log
info_paper.tex~
texput.log
notes_ortho.aux
notes_ortho.log
notes_ortho.tex~
notes_ortho2.aux
notes_ortho2.log
notes_ortho2.tex~
multiclass_draft.aux
multiclass_draft.log
nips_extrapolation.aux
nips_extrapolation.log
nips_extrapolation.out
nips_extrapolation.tex~
nips_info_theory.aux
nips_info_theory.log
nips_info_theory.out
notes_info2.aux
notes_info2.log
notes_info2.tex~
notes_info2_var.aux
notes_info2_var.log
notes_info2_var.tex~
supp_info_paper.aux
supp_info_paper.log
supp_info_paper.tex~
info_lb.aux
info_lb.log
info_lb.tex~
aba_gen_info.aux
aba_gen_info.log
aba_gen_info.tex~
extrapolation_final.aux
extrapolation_final.log
extrapolation_final.tex~
extrapolation_final_yuval.aux
extrapolation_final_yuval.log
neuroinfo.bib~
precision.aux
precision.bbl
precision.blg
precision.log
aba_gen_info.synctex.gz
info_paper.synctex.gz
info_paper2.aux
info_paper2.log
info_paper2.synctex.gz
multiclass_draft.synctex.gz
nips_2016.aux
nips_2016.log
nips_2016.out
nips_2016.synctex.gz
nips_extrapolation.synctex.gz
nips_extrapolation2.aux
nips_extrapolation2.log
nips_extrapolation2.out
nips_extrapolation2.synctex.gz
nips_extrapolation2_arxiv.aux
nips_extrapolation2_arxiv.log
nips_extrapolation2_arxiv.out
nips_extrapolation2_arxiv.synctex.gz
nips_info_theory.synctex.gz
notes_info2.synctex.gz
precision.synctex.gz
supp_extrapolation.aux
supp_extrapolation.log
supp_extrapolation.synctex.gz
notes_proof.aux
notes_proof.log
notes_proof.tex~
precision.tex~
